name: Documentation

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write       
      id-token: write
    strategy:
      max-parallel: 1
    steps:
      - uses: actions/checkout@v4
      - name: Set Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          architecture: x64
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
          python -m uv pip install -e .[docs]

      - name: Build static files
        id: build
        run: |
         sphinx-build -M html docs docs/_build
  
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
          path: docs/_build/html
# Deployment job
  deploy:
    # if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      pages: write       
      id-token: write
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 