name: Documentation

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: x64
  
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt install -y latexmk texlive-xetex fonts-freefont-otf xindy
        pip install uv
        python -m uv pip install wheel openmatrix pytest
        # python -m uv pip install -r requirements.txt
        # python -m uv pip install -r docs/requirements-docs.txt

    - name: Compile library
      run: |
        python setup.py build_ext -j 4 --inplace
        python -m uv pip install .

    - name: Check history of versions
      run: |
          # python docs/table_documentation.py
          # python docs/create_docs_data.py
          # python docs/website/check_documentation_versions.py

    - name: Test docstrings
      run: |
        # python -m pytest --doctest-modules aequilibrae/distribution --ignore=aequilibrae/distribution/setup_ipf.py
        # python -m pytest --doctest-modules aequilibrae/matrix
        # python -m pytest --doctest-modules aequilibrae/paths --ignore=aequilibrae/paths/setup_assignment.py
        # python -m pytest --doctest-modules aequilibrae/project
        # python -m pytest --doctest-modules aequilibrae/log.py aequilibrae/parameters.py 
        # python -m pytest --doctest-modules aequilibrae/transit
        # python -m pytest --doctest-glob=*.rst docs/source/project_components
        # python -m pytest --doctest-glob=*.rst docs/source/traffic_assignment
        # python -m pytest --doctest-glob=*.rst docs/source/public_transport

    - name: Build documentation
      run: |
        # jupyter nbconvert --to rst docs/source/distribution_procedures/IPF_benchmark.ipynb
        # sphinx-build -b latex docs/source docs/source/_static/latex -D plot_gallery=False
        # cd docs/source/_static/latex
        # LATEXMKOPTS="-xelatex" make all-pdf
        # cd ../../../..
        # cp large_icon.png docs/source/_static/large_icon.png
        # sphinx-build -M html docs/source docs/build
        # python -m zipfile -c aequilibrae.zip docs/build/html
        # cp aequilibrae.zip docs/build/html/aequilibrae.zip